<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198991196610-puvsiidc9d3qdml08sf3a2ohj7nbopnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198991196610-puvsiidc9d3qdml08sf3a2ohj7nbopnr</string>
	<key>API_KEY</key>
	<string>AIzaSyAjM2Zexbc5UOC3imIWB9yPYm64dFLQvMo</string>
	<key>GCM_SENDER_ID</key>
	<string>198991196610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rob.plug</string>
	<key>PROJECT_ID</key>
	<string>plug-278118</string>
	<key>STORAGE_BUCKET</key>
	<string>plug-278118.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198991196610:ios:e968fdf05f66d81c67a65b</string>
	<key>DATABASE_URL</key>
	<string>https://plug-278118.firebaseio.com</string>
</dict>
</plist>